<!DOCTYPE html>
<html>
  <head>
    <title>Wildlife Tracker</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href='../../../../css/styles.css' rel='stylesheet' type="text/css">
    <script src='../../../../js/jquery.js'></script>
    <script src='../../../../js/scripts.js'></script>
    <src
  </head>
  <body>
    <div id="wrap">
      <section class="content">
        <div id="main" class="container clear-top">
          <div class="jumbotron">
            <img id="flag" src="../../../../img/flag.png" alt="" />
            <h1>Wildlife Tracker</h1>
            <p> &mdash; Wildlife tracking tool for Zone A, Zone B, and Zone C.</p>
          </div>
          <div class="center">
            #parse( $template )
            #parse( $template2 )
          </div>
        </div>
      </section>
    </div>
    <footer class="footer">
      Designed by <a href="https://www.github.com/tiki84626">Andrew P Malkin</a> &middot; 2016 &middot; In association with Epicodus&copy; &middot; Portland, Or
    </footer>
  </body>
</html>
